body #container #display {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around; }
  body #container #display .meetup {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px; }
    body #container #display .meetup .btns {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 40%; }
      body #container #display .meetup .btns div {
        width: 180px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
    body #container #display .meetup .title {
      font-size: 30px;
      width: 300px;
      overflow: hidden; }
    body #container #display .meetup p {
      margin: 20px auto; }
    body #container #display .meetup .date {
      font-size: 10px; }

body #container #addMeetup {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body #container #addMeetup form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px; }
    body #container #addMeetup form #btn-add {
      width: 100px;
      align-self: center; }
