body{
    #container{
       
    #display{
        display: flex;
        flex-direction:column-reverse;
        justify-content: space-around;
        
        .meetup{
            padding:8px;
            display: flex;
            flex-direction:column;
            justify-content: space-around;
            margin:20px;
          .btns{
              align-self: flex-end;
              display: flex;
              flex-direction:row;
              justify-content: flex-end;
            width:40%;
            div{
              width:180px;
              display : flex;
              flex-direction : row;
              justify-content: space-between;
            }
          }
            .title{
                font-size:30px;
                width:300px;
                overflow: hidden;
              
            }
            p{
                margin:20px auto;
            }
            .date{
                font-size:10px;
            }
        }
    }
    #addMeetup{
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            display:flex;
            flex-direction: column;
            justify-content:space-around;
            width:400px;
            #btn-add{
                width:100px;
                align-self: center;
            }
        }
    }
    }
}